@page
@model SignalRChat.Pages.DataBase.Users.DeleteUserModel

@{
    ViewData["Title"] = "Удаление записи";
}

    <h1>Удаление записи</h1>

<h3>Вы уверены, что хотите удалить эту запись?</h3>
<div>
    <h4>Таблица Users</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.getUser.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.getUser.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.getUser.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.getUser.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.getUser.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.getUser.Email)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="getUser.Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-page="./Index">Вернуться к списку</a>
    </form>
</div>
