@page
@model SignalRChat.Pages.DataBase.Users.UsersModel
@{
    ViewData["Title"] = "Таблица Users";
}

<h1>Записи таблицы Users</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].UserName)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Users)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    <a asp-page="./EditRoles" asp-route-id="@item.Id">Изменить права</a> |
                    <a asp-page="/ChangePassword" asp-route-id="@item.Id">Изменить пароль</a> |
                    <a asp-page="./Edit" asp-route-id="@item.Id">Редактировать</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Детали</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<footer>
    <a asp-area="" asp-page="/DataBase/Index">Вернуться к списку таблиц</a>
</footer>