@page
@model SignalRChat.Pages.DataBase.Messages.DeleteMessageModel

@{
    ViewData["Title"] = "Удаление записи";
}

    <h1>Удаление записи</h1>

<h3>Вы уверены, что хотите удалить эту запись?</h3>
<div>
    <h4>Таблица Messages</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Messages.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Messages.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Messages.Message)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Messages.Message)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Messages.SendDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Messages.SendDate)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Messages.ID" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-page="./Index">Вернуться к списку</a>
    </form>
</div>
