@page
@model SignalRChat.Pages.DataBase.Roles.DeleteRoleModel
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Удаление записи</h1>

<h3>Вы уверены, что хотите удалить эту запись?</h3>
<div>
    <h4>Таблица Roles</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.getRole.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.getRole.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.getRole.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.getRole.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.getRole.NormalizedName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.getRole.NormalizedName)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="getRole.Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-page="./Index">Вернуться к списку</a>
    </form>
</div>